.navbar {
    padding: 0.5rem 1rem;
}
.navbar-brand img {
    height: 40px;
}
.ml-auto img {
    height: 30px;
}
.img-logo {
    border-radius: 22px;
    margin-top: 17px;
    margin-left: 38px;
}
.img-msg{
    border-radius: 104px;
    padding: 40px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.msg_send{
    color: #41A707;
    font-size: 39px;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: center;
}
.username{
    font-family: 'Segoe UI';
    font-size: 25px;
    font-weight: bold;
    margin-right: 45px;
    margin-top: 16px;
}
.btn_deconnexion{
    width: 172px;
    height: 45px;
    border-radius: 29px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 25px;
    margin-right: 38px;
    margin-top: 10px;
}
.btn_connexion{
    background-color: #9D299C;
    width: 212px;
    height: 48px;
    border-radius: 24px;
}
.btn_connexion:hover{
    background-color: #6a2572;
}
.btn_envoyer{
    width: 120px;
    height: 41px;
    border-radius: 20px;
    background-color: #365422;
    margin-left: 264px ;
    margin-top: 28px;
}
.btn_enregistrer{
    width: 113px;
    height: 37px;
    border-radius: 20px;
    background-color: #365422;
    margin-left: 70% ;
    margin-top: 28px;
}
.icone{
    border-radius: 256px;
    margin-top: 10px;
}
.sidebar{
    position: fixed;
    left: 0;
    background-color: #9D299C;
    width: 154px;
    height: 422px;
    border-top-right-radius: 44px;
    border-bottom-left-radius: 44px;
    margin-top: 121px;
}
.formulaire{
    background-color: #D4D7D9;
    padding: 28px;
    border-radius: 22px;
    margin-top: 50%;
}
h1,h2{
    font-size: 41px;
    font-family: 'Segoe UI';
    font-weight: bold;
}
h2{
    color: white;
    font-style: italic;
    justify-content: center;
    align-items: center;
}
.form-group{
    font-size: 25px;
    font-family: 'Segoe UI';
    font-weight: bold;
    padding: 10px;
}
.form-control{
    width: 295px;
    border-radius: 25px;
    margin-left: 10%;
    margin-top: 10px;
}
.texte_blanc{
    color: white;
}
.texte_noir{
    color: black;
}